@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
header{
    display: flex;
    position: absolute;
    background: #2D25A0;
    width: 1400px;
    height: 600px;
    
}
h1{
    color: #FFFFFF;
    margin-top: 200px;
    margin-left: 150px;
    padding-left: 100px;
}
img{
    height: 450px;
    width: 500px;
    margin-top: 150px;
    

}
